#page {
    display: flex;
    align-items: center;
}

#title {
    font-size: 50px;
    margin: 20px;
}

#buttons {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    align-items: flex-end;
    margin-top: 100px; 
}

#buttons > div > button, input {
    margin: 3px;
    color: white;
    background-color: #4F97A3;
    border-radius: 5px;
    width: 100px;
    height: 60px;
    border: 1px solid #4F97A3;
    font-size: 20px;
    opacity: 0.7;
}

#titleAndGame {
    display: flex;
    flex-direction: column;
    flex: 2 1 0%;
    align-items: center;
}

#blankDiv {
    display: flex;
    flex: 1 1 0%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 600px;
}

#container > div {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
}

#container > div > div {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}