#page {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 50px;
    margin: 20px;
}

#buttons {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

#buttons > div > button, input {
    margin: 3px;
}

#titleAndGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 600px;
}

#container > div {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
}

#container > div > div {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}